<button
  nz-button
  nz-dropdown
  nzType="default"
  nzShape="circle"
  nzTrigger="click"
  [nzDropdownMenu]="menu"
  title="{{ 'LANGUAGE_SWITCHER.SWITCH_LANGUAGE' | translate}}">
  {{ selectedLang | uppercase }}
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    @for (lang of translate.getLangs(); track lang) {
      <li nz-menu-item (click)="switchLanguage(lang)" (keydown.enter)="switchLanguage(lang)">
        {{ getLangLabel(lang) }}
      </li>
    }
  </ul>
</nz-dropdown-menu>
