<app-branding></app-branding>
<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="collapseService.isCollapsed()">
  <ng-container *ngTemplateOutlet="renderMenu; context: { $implicit: filteredMenus }"></ng-container>
  <ng-template #renderMenu let-menus>
    @for (menu of menus; track menu) {
      @if (!menu.children) {
        <li
          nz-menu-item nzMatchRouter
          [nzPaddingLeft]="menu.level * 24"
          [nzDisabled]="menu.disabled"
          [nzSelected]="menu.selected"
          >
          @if (menu.icon) {
            <nz-icon [nzType]="menu.icon"></nz-icon>&nbsp;
          }
          <a [routerLink]="menu.route" (click)="collapseMenu()">
            {{ menu.titleKey | translate }}
          </a>
        </li>
      }
      @if (menu.children) {
        <li
          nz-submenu
          [nzPaddingLeft]="menu.level * 24"
          [nzOpen]="menu.open"
          [nzTitle]="menu.titleKey | translate"
          [nzIcon]="menu.icon"
          [nzDisabled]="menu.disabled"
          >
          <ul>
            <ng-container *ngTemplateOutlet="renderMenu; context: { $implicit: menu.children }"></ng-container>
          </ul>
        </li>
      }
    }
  </ng-template>
</ul>